* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: fang-song;
}

p,li {
  font-size: 0.88rem;
  font-weight: 500;
}

span {
  color: red;
}

.App {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-image: linear-gradient(white, rgb(235 235 166));
  ;
}